<footer class="mt-5">
    <div class="container-fluid bg-dark text-white">
        <div class="ft-top container mx-auto row">
            <div class="ft-note col-md-10 mt-3">
                <div class="fs-5 merriweather-regular">POOJA DISSANAYAKE</div>
                <div class="fs-6">A FullStack Software Engineer | Java | SpringBoot | C# | HTML, CSS, JavaScript |
                    Angular | React | BootStrap</div>
            </div>
            <div class="social-links col-md-2 mt-3">
                <!-- <div class="fs-5 merriweather-regular ">Social Links: </div> -->
                <div class="icons row">
                    <a href="https://www.linkedin.com/in/poojadissanayake/" class="d-md-block col">
                        <img src="image/linkedin-icon.png" width="30" height="30" alt="Linkedin">
                    </a>
                    <a href="https://github.com/poojadissanayake" class="d-md-block col">
                        <img src="image/github-icon.png" width="30" height="30" alt="github">
                    </a>
                </div>
            </div>
        </div>
        <div class="ft-bottom text-center pt-3">
            &copy; Copyright <span id="year"></span>
        </div>
    </div>
</footer>

<script src="javascript/home.js"></script>
<script src="javascript/form-validation.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>